*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #1b1919;
}
.container{
    width: 70%;
    padding: 50px 0;
    background: #1b1919;
    box-shadow: 0 0 30px rgba(0,0,0,0.8);
    border-radius: 5px;
    text-align: center;
}
.bar{
    background: #b6b6b6;
    width: 90%;
    height: 50px;
    margin: 10px auto;
    border-radius: 50px;
    overflow: hidden;
}
.fill{
    height: 100%;
    width: 1%;
    background: linear-gradient(45deg,#f00144,#fd5900);
}
.counter{
    font-size: 40px;
    font-family: monospace;
    font-weight: 800;
    color: #f00144;
    padding: 5px 0;
}
button{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    font-family: monospace;
    background: #000;
    color: #fff;
    margin-top: 20px;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    border: 2px solid #f00144;
    border-radius: 50px;
}
.output{
    width: 50%;
    padding: 30px 0;
    background: #1b1919;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0,0,0,0.8);
    text-align: center;
    display: none;
}
.output .fa-check{
    height: 150px;
    width: 150px;
    border: 5px solid #f00144;
    border-radius: 50%;
    color: #f00144;
    line-height: 150px;
    margin-bottom: 30px;
    animation: animate 1s ease;
    font-size: 85px;
}
@keyframes animate {
    0%{
        transform: translateY(60px) scale(0.7) rotate(0deg);
        opacity: 0.2;
    }
    50%{
        transform: scale(0.) scaleY(-40deg) rotate(90deg);
        width: 50px;
    }
    75%{
        transform: scale(1.4) scaleY(180deg) rotate(20deg);
        width: 10px;
    }
    100%{
        transform: translateY(0px) scale(1) rotate(360deg);
        opacity: 1;
    }
}
.text{
    font-size: 40px;
    font-weight: 600;
    font-family: sans-serif;
    color: #f00144;
    letter-spacing: 1px;
}